.skillsContainer {
    border: 5px double #ffb108;
    border-radius: 5px;
    background-color: #001027;
    margin-top: 10px;
    padding-bottom: 20px;
}

.SkillsContainerTitle {
    margin-left: 15px;
}

.SkillItemWrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}