.blog {
    border: 1px solid black;
    border-radius: 5px;
    max-height: 250px;
    padding: 10px;
    margin-top: 10px;
}

.blog hr {
    width: 95%;
}

.blogCardTop {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogCardTop p {
    align-self: center;
    margin-right: 1.1rem;
    font-size: 10px;
}

.blogCardTop h2 {
    margin-left: 1.1rem;
}

.blogCardContent {
    margin: 10px;
    display: flex;
    flex-flow: row;
    height: 140px;
}

/* A REALLY DODGY FIX THIS ⚠ !!! WILL NOT SCALE WITH RESPONSIVE !!! ⚠*/
/* Does not hide overflow properly line clipping occurs at height:100%; and height:90% */
/* Investigate the use of max-heigh on .blog seems like a fix */
.blogCardContentText {
    height: 95%;
    display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blogCardContent img {
    width: 100%;
}

.imgHolder100 {
    width: 100px;
    height: 100px;
    margin-right: 25px;

    align-self: center;
    flex-shrink: 0;

    background-color: olivedrab;
}