.app {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 1050px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 10px 23px; 
  grid-template-areas: 
    "header header header header"
    "main main main aside"
    "main main main aside"
    "main main main aside"; 
}

.main {
  width: 770px;
  grid-area: main;
  justify-self: center;
}

.aside {
  width: 250px;
  margin-left: 5px;
  grid-area: aside;
  justify-self: center;
}